.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  bottom: 30px;
}

span.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-wrapper {
  padding-inline-start: 0;
}
